@model IEnumerable<WebAppMVC.Models.ViewModel.Employees.VWEmployeeList>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-warning">Create New</a>
</p>
<div class="h-100 p-3 text-white bg-success rounded-3 mb-4">
    <h2>員工基本資料</h2>
</div>
<table class="table table-bordered table-striped table-hover align-middle" >
    <thead>
        <tr>
            <th>
                <i class="fade fa-bars"></i>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                <i class="fade fa-user"></i>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                <i class="fade fa-bars"></i>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                <i class="fade fa-bars"></i>
                @Html.DisplayNameFor(model => model.TitleOfCourtesy)
            </th>
            <th>
                <i class="fade fa-bars"></i>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                <i class="fade fa-bars"></i>
                @Html.DisplayNameFor(model => model.HireDate)
            </th>
            <th>
                <i class="fade fa-bars"></i>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                <i class="fade fa-bars"></i>
                @Html.DisplayNameFor(model => model.City)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleOfCourtesy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeId" class="btn btn-primary">編輯</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeId" class="btn btn-success">明細</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeId" class="btn btn-danger">刪除</a>
            </td>
        </tr>
}
       @* @await Html.PartialAsync("_TestPartialView",Model)*@
    </tbody>
</table>
